[run]
source=GeoUsage

[report]
exclude_lines =
#    pragma: no cover
#    if __name__ == .__main__.:
    def __repr__
    def cli    
    def log
    def analyze
    def mailing_list
    def member_count
omit =
    GeoUsage/tests/*
